.x-titlebar{
	background:#37b9ed;
	
}
/**文本字体大小*/
.lit{font-size:12pt;}
.mid{font-size:16pt;}
.big{font-size:21pt;}

.dropdown-menu {
  min-width: 50px;
}
.dropdown-menu .divider {
    margin: 3px 0;
}